.calendar {
  width: 100%;
}

.calendar-month {
  &-week-list {
    display: flex;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    &-item {
      padding: 20px 16px;
      text-align: left;
      color: #000;
      flex: 1;
    }
  }
  &-body {
    &-row {
      height: 100px;
      display: flex;
    }
    &-cell {
      flex: 1;
      border-top: 0;
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      &:last-child {
        border-right: 1px solid #eee;
      }
      color: #ccc;
      overflow: auto;
      &-current {
        color: #000;
      }
      &-selected {
        background: #e6f7ff;
      }
      &-date {
        padding: 10px;

        &-selected {
          background: #1890ff;
          width: 28px;
          height: 28px;
          line-height: 28px;
          text-align: center;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.calendar-header {
  &-left {
    display: flex;
    align-items: center;
    height: 28px;
    line-height: 28px;
  }

  &-value {
    font-size: 20px;
  }

  &-btn {
    background: #eee;
    cursor: pointer;
    border: 0;
    padding: 0 15px;
    line-height: 28px;
    border-radius: 5px;
    &:hover {
      background: #ccc;
    }
  }

  &-icon {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    user-select: none;
    cursor: pointer;

    margin-right: 12px;
    &:not(:first-child) {
      margin: 0 12px;
    }

    &:hover {
      background: #ccc;
    }
  }
}
/*滚动条样式*/
.calendar-month-body-cell::-webkit-scrollbar {
  display: none;
}
// .calendar-month-body-cell::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 2px #979797;
//   background: #eee;
// }
// .calendar-month-body-cell::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 2px #fff;
//   border-radius: 0;
//   background: #eee;
// }
