@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon {
  // 行内元素但是可以设置宽高
  display: inline-block;
}

.icon-spin {
  // 执行无限旋转动画
  animation: spin 1s linear infinite;
}
